@mixin button {
  @include appearance(none);
  font-size: $base-font-size;
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

@mixin blue-button {
  @include button;
  background-color: $blue;
  color: white;
}
