.language-select {
  @include flexbox((
    display: flex,
    justify-content: space-between
  ));
  max-width: 280px;
  width: 100%;
  margin: 25px auto 50px;
}

.language-button {
  @include button;
  font-size: 14px;
  
  &.active {
    color: #999;
  }
}
