.l-narrow {
  margin: 0 auto;
  max-width: 320px;
}

.l-medium {
  margin: 0 auto;
  max-width: 500px;
}

.l-wide {
  margin: 0 auto;
  max-width: 800px;
}

.l-sidepad {
  padding: 0 15px;
}

.footer {
  background: #ccc;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;  
}
