.lookup-form {
  h2 {
    font-size: 18px;
  }
}

.input-phonenumber {
  @include input;
  @include errors;
}

.input-zipcode {
  @include input;
  @include errors;
}

.lookup-submit {
  @include blue-button;
  @include border-radius(50px);
  font-weight: 700;
  padding: 10px 18px;
  display: block;
  width: 100%;
}
