.lookup-form {
  margin-bottom: 35px;
  
  h2 {
    font-size: 18px;
    line-height: 1.4;
  }
}

.input-phonenumber {
  @include input;
  @include errors;
  margin-bottom: 15px;
}

.input-zipcode {
  @include input;
  @include errors;
  margin-bottom: 15px;
}

.lookup-submit {
  @include blue-button;
  @include border-radius(50px);
  font-weight: 700;
  padding: 12px 18px;
  display: block;
  width: 100%;
}
