<div class="l-medium">
  
  <h1 class="aligncenter">Click To Congress</h1>

  {{lookup-form
    lookup=(action 'lookup')
    phoneChangeset=changeset}}
</div>

<div class="l-wide">
  {{#if model}}
    <div class="l-sidepad">
      <p class="aligncenter smaller">You live in zip code {{zip}}. This is called the {{district}} Congressional District. Here's who represents you:</p>
    </div>
  {{/if}}
  {{#each model as |rep|}}
    {{rep-item rep=rep call=(action 'call')}}
  {{/each}}
</div>
