<div class="l-medium">
  
  {{language-select}}
  
  <h1 class="aligncenter">Click To Congress</h1>

  {{lookup-form
    lookup=(perform lookup)
    isRunning=lookup.isRunning
    phoneChangeset=changeset}}
</div>

<div class="l-wide">
  {{#if model}}
    <div class="l-sidepad">
      <p class="aligncenter smaller">
        {{t 'location.blurb' address=address congress=congress stateSenate=stateSenate stateAssembly=stateAssembly}}
      </p>
    </div>
  {{/if}}
  {{#each model as |rep|}}
    {{rep-item myPhone=changeset.phoneNumber rep=rep call=(action 'call')}}
  {{/each}}
</div>

<!-- <footer class="footer"></footer> -->
